body {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.header-section {
  height: 10vh;
  width: 100vw;
  padding-bottom: 5px;
}

.miniheader {
  display: none;
}

.main-header {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-right: 28vw;
}

.bar-line {
  width: 30px;
  height: 3px;
  background: #272a31;
  margin: 4px;
}

.nav-section {
  display: none;
}

.bar {
  margin-left: 30px;
}

.logo-image {
  width: 110px;
  height: 60px;
  overflow-clip-margin: border-box;
}

.mobile-menu1 {
  display: block;
  background: #ec5242;
  position: absolute;
  top: 100;
  height: 100vh;
  width: 100%;
  mix-blend-mode: multiply;
  color: white;
  font-size: 24px;
  font-weight: 600;
  z-index: 999;
}

.mobile-menu {
  display: none;
  background: #ec5242;
  position: absolute;
  top: 100;
  height: 100vh;
  width: 100%;
  mix-blend-mode: multiply;
  color: white;
  font-size: 24px;
  font-weight: 600;
  z-index: 999;
}

.mobile-menu-toggler {
  float: right;
  padding-top: 20px;
  margin-right: 18px;
}

.mobile-menu-items {
  clear: right;
  list-style: none;
  padding-top: 10px;
}

.mobile-menu-items > li {
  padding-bottom: 16px;
}

.mobile-menu-items > li > a {
  font-size: 32px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.bottom-decorator {
  width: 120px;
  background: black;
  height: 4px;
  border-radius: 5px 5px;
  margin-top: 75vh;
}

.decorator-wrapper {
  display: flex;
  justify-content: center;
}

.hero-section {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0 100%), url("images/hero-bg.jpg");
  width: 100vw;
  height: 82vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.hero-section1 {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0 100%), url("images/hero-bg.jpg");
  width: 100vw;
  height: 82vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  filter: blur(6px);
}

.hero-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px;
  color: #595959;
}

.primary {
  color: #868686;
}

.secondary {
  color: #ec5242;
}

.hero-big > p {
  font-size: 24px;
}

.hero-big > h1 {
  font-size: 34px;
  font-weight: bold;
}

.inner-hero-big-wrapper {
  font-size: 14px;
  border: 2px solid white;
  padding: 4px;
  width: 90%;
}

.inner-hero-big-wrapper2 {
  margin-top: 60px;
}

.inner-hero-big-wrapper2 > h2 {
  margin-block-end: 0;
}

.inner-hero-big-wrapper2 > p {
  font-size: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.main-program {
  background: #282b32;
  color: white;
}

.program-card {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  gap: 5vw;
  padding-right: 2px;
}

.program-card > p {
  font-size: 16px;
}

.main-program > h2 {
  margin-block-start: 0;
  text-align: center;
  padding-top: 20px;
}

.program-wrapper {
  padding: 10px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 5px;
  width: 60px;
  background-color: #a04038;
  border-radius: 10px;
}

.divider-container {
  display: flex;
  justify-content: center;
}

.call-to-action {
  background: #ec5242;
  width: 75%;
  height: 16vh;
}

.cta-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

.cta-wrapper {
  width: 100%;
  padding: 10px;
}

.cta-wrapper > h2 {
  text-align: center;
}

.speakers-wrapper > h2 {
  text-align: center;
}

.speaker-liner-container {
  display: flex;
  justify-content: center;
}

.speaker-liner {
  width: 50px;
  height: 5px;
  background: #d9d9d9;
  border-radius: 10px;
}

.grid-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 15px;
}

.grid-item-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
}

.grid-item-wrapper > img {
  width: 150px;
  height: 200px;
}

.grid-item-mini-wrapper {
  margin-left: 7px;
  margin-right: 2vw;
}

.grid-item-mini-wrapper > p {
  font-size: 12px;
}

.grid-item-off {
  display: none;
}

.speakers-wrapper > button {
  width: 80%;
  padding: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

.partners-section {
  display: none;
}

.footer-section {
  display: none;
}

@media (min-width: 768px) {
  .header-section {
    height: 18vh;
  }

  .main-header {
    margin-right: 20vw;
  }

  .bar {
    display: none;
  }

  .nav-section {
    display: flex;
    width: 70%;
  }

  .nav-section > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-section > ul > li {
    list-style: none;
  }

  .nav-section > ul > li > a {
    text-decoration: none;
    font-size: 16px;
  }

  .primary {
    color: #868686;
  }

  .secondary {
    color: #ec5242;
  }

  .nav-border {
    border: #ec5242 3px solid;
    padding: 5px;
  }

  .miniheader {
    display: flex;
    width: 100%;
    justify-content: end;
    background-color: #3e3e3e;
    height: 6vh;
  }

  .miniheader > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 30%;
    margin-right: 18%;
  }

  .miniheader > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .hero-section-wrapper {
    margin-left: 20vw;
    margin-right: 30vw;
    width: 50%;
  }

  .hero-big > p {
    font-size: 30px;
  }

  .hero-big > h1 {
    font-size: 50px;
    font-weight: bold;
  }

  .inner-hero-big-wrapper {
    font-size: 16px;
  }

  .inner-hero-big-wrapper2 {
    margin-top: 15px;
  }

  .inner-hero-big-wrapper2 > p {
    font-size: 16px;
  }

  .program-wrapper {
    flex-direction: row;
    column-gap: 7px;
    justify-content: center;
  }

  .program-card > p {
    text-align: center;
  }

  .program-card {
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 0.0001vh;
    padding: 5px;
    width: 150px;
  }

  .cta-container {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7;
    margin-top: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .grid-item-off {
    display: block;
  }

  .speakers-wrapper > button {
    display: none;
  }

  .partners-section {
    height: 40vh;
    margin-top: 20px;
    background: #414246;
    display: block;
  }

  .partner-title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .partner-title-wrapper > h3 {
    color: #8f8f91;
  }

  .partner-underline-container {
    display: flex;
    justify-content: center;
  }

  .partner-underline-item {
    width: 30px;
    height: 5px;
    background: #ec5242;
    border-radius: 5px;
  }

  .main-partner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .footer-section {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-section > img {
    width: 200px;
  }
}
